Required libraries to run this program.
pandas
numpy
matplotlib
seaborn
scikit-learn
joblib


:> If you are working in a VsCode then you have to download this libraries by going on terminal
 and write the below message one by one.

pip install scikit-learn
pip install pandas 
pip install numpy
pip install joblib
pip install seaborn
pip install matplotlib

:> If you are working in a Jupyter or in a Google Collab then these libraries are downloaded you just run the code.
